h1, h2, h3, h4, h5, h6, p, blockquote, codequote {
margin: 0;
padding: 10px;
}
a {
text-decoration:none;
color: #0042ff;
}
a:hover {
text-decoration:none;
color: #008FFF;
}

html,body {
position: relative; /* Fixes browser resizing bug in IE6 */
margin: 0 auto 10px auto;
height:100%;
font-family: 'Actor', Trebuchet MS, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: center; /* IE Centering Technique */
background: #ffffff;
}
#header {
margin: 0;
padding: 0 0 0 0;
}
#footer {
position: absolute;
left: 0;
bottom: 0;
line-height:16px;
color: #000;
font-size:15px;
width:100%;
text-align: center; /* IE Centering Technique */

}
#captions {
position: relative;
color: #000;
font-size:14px;
width:100%;
text-align: center; /* IE Centering Technique */
}
#captionbox {
position: relative;
border-bottom:10px;
text-align: center; /* IE Centering Technique */
}
#container {
   min-height:100%;
   position:relative;
}
#footer p {
padding: 0;
font-size: 8pt;
color: #fff;
text-align: center;

}
#footer a {
color: #0042FF;
}
#footer a:hover {
color: #ff0084;
}
#credits {
clear: both;
margin: 0 auto;
line-height: 19px;
}
#topright {
position: absolute;
top:2%;
right: 2%;
text-align: right;
color: #fff;
}
